#!/bin/bash

run_loc="/srv/minecraft_ov"

sc_minecraft="MineCraft"
sc_RUN="BackupProcess"

PUBLIC_URL="http://map.northweb.co.uk"


#MineCraft-server installation variables:
  map_name="NorthCraft"
  map_folder_location="/srv/minecraft_server";

#overviewer config files locations
  ov_config="/srv/minecraft_ov/ov_config.cfg";

#temp_location
  TEMP_DIR="/srv/minecraft_temp";
#Backup Location:
  BACKUP_DIR="/srv/minecraft_backups"
  BACKUP_NAME="minecraft_save_$(date +%F_%H-%M).tar.gz"
